# Ignore virtual environment
venv/
.venv/

# Ignore video.mp4 file produced by tutorial.cpp
video.mp4
embedded/video.mp4

# Ignore JSON files genereated by image detection
stationary_sticker.json
ball_coords.json
sticker_coords.json

# Ignore any pycache files
__pycache__/