# Ignore virtual environment
venv/
.venv/

#Ignore test videos
embedded/video.mp4
demo_400_144_387_5000_700
exposure_test/
full_integration_vids/
Indoor_Sim_0807/
oldTestVids/
ball_frames/
alphamapping/
cctag_repo/
cctag_binding/
deps/
third_party/

# Ignore JSON files genereated by image detection
stationary_sticker.json
ball_coords.json
sticker_coords.json

# Ignore any pycache files
__pycache__/
ball_coords.json
stationary_sticker.json
sticker_coords.json
# ball_frames/

# Ignore BLE logs
*.log
